<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="conMain" connectionString="data source=162.222.225.88;initial catalog=SLPMSTEST; user id=userSLPMStest;password=SoundLife@2019;max pool size=1024;" providerName="System.Data.SqlClient" />-->
    <!--<add name="conMain" connectionString="data source=162.222.225.88;initial catalog=SLPMS; user id=userSLPMS;password=oaVc#926;max pool size=1024;" providerName="System.Data.SqlClient" />-->
    <add name="conMain" connectionString="data source=CMP131;initial catalog=PRIYAL; user id=sa;password=jinee@123;max pool size=1024;" providerName="System.Data.SqlClient"/>
    <!--<add name="conMain" connectionString="data source=103.21.58.193;initial catalog=SLPMS; user id=userFFWSQL;password=Jinee@2020!Infotech;max pool size=1024;" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>
